<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.chuckerteam.chucker.internal.ui.MainActivity"
            android:theme="@style/Chucker.Theme.EdgeToEdgeOptOut"
            tools:node="merge"
            tools:replace="android:theme" />
        <activity
            android:name="com.chuckerteam.chucker.internal.ui.transaction.TransactionActivity"
            android:theme="@style/Chucker.Theme.EdgeToEdgeOptOut"
            tools:node="merge"
            tools:replace="android:theme" />
    </application>

</manifest>
